extends ../layout

block content
  .page-header
    h3 Sign in to view your Goodreads timeline
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      .col-sm-offset-3.col-sm-7
        a.btn.btn-block.btn-instagram.btn-social(href='/auth/goodreads')
          i.fa.fa-book
          | Sign in with Goodreads
