extends layout

block content
  h1 Goodreads Timeline
  p.lead Checkout a timeline view of your Goodreads history
  hr
  .row
    ul.list-group
      for review in reviews
        li.list-group-item
          h4 #{review.book[0].title[0]}
            span.badge #{review.rating[0]}
          p #{review.body[0]}
